<section class="bg-primary" id="competicao">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A Competição</h2>
                <hr class="light">
                <p class="text-faded">
                    A Competição é composta por três categorias distintas: Regular, Micro e Advanced, com requisitos específicos aplicáveis à cada uma destas. As avaliações e classificação das equipes são realizadas em duas etapas: Competição de Projeto e Competição de Voo, onde os projetos são avaliados comparativamente por engenheiros da indústria aeronáutica, com base na concepção e desempenho dos projetos.
                </p>
                <a href="#contato" class="btn btn-default btn-xl">Nos acompanhe para saber mais!</a>
            </div>
        </div>
    </div>
</section>
