<section id="conquistas">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Conquistas</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <a href="http://portal.saebrasil.org.br/programas-estudantis/sae-brasil-aerodesign" target="blank">
                    <i class="fa fa-4x fa-trophy wow bounceIn text-primary"></i>
                    </a>
                    <h3>SAE Aerodesign Brasil</h3>
                    <p class="text-muted">
                        Pentacampeã na Classe Regular
                    </p>
                </div>  
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-university wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Menções Honrosas</h3>
                    <p class="text-muted">
                        Melhor Projeto, Maior Peso Carregado,
                        Melhor Eficiência Estrutural e Melhor Apresentação
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://www.sae.org/attend/student-events/sae-aero-design-east" target="blank">
                    <i class="fa fa-4x fa-star wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    </a>
                    <h3>SAE Aerodesign East</h3>
                    <p class="text-muted">
                        Tricampeã na Classe Regular
                        <!-- Já angariamos 
                        mais de X troféus nas primeiras colocações, diversas menções honrosas,
                        e premiações como o Troféu Embraer de Excelência em Projeto Aeronáutico.
                        -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
