<section id="equipe">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">A Equipe</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-birthday-cake wow bounceIn text-primary"></i>
                    <h3>Desde 1999</h3>
                    <p class="text-muted">
                        A USF tem muita história,
                        desde 1999 participamos das competições nacionais
                        e internacionais da SAE Aerodesign.
                    </p>
                </div>  
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-trophy wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Premiações</h3>
                    <p class="text-muted">
                        Somos consagrados em trazer mais de X premiações
                        para Minas Gerais, e tendo renome quando o assunto é projeto aeronáutico.
                        <!-- Já angariamos 
                        mais de X troféus nas primeiras colocações, diversas menções honrosas,
                        e premiações como o Troféu Embraer de Excelência em Projeto Aeronáutico.
                        -->
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-plane wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Tradição e Inovação</h3>
                    <p class="text-muted">
                        Nós somos um dos expoentes dentro da Escola de Engenharia
                        da UFMG, onde temos muito mais história e tradição, junto do
                        Centro de Estudos Aeronáuticos, o CEA.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div>
        </div>
    </div>
</section>
