<header>
    <div class="header-content">
        <div class="header-content-inner">
            <!-- <h1>Uai, Sô! Fly!</h1> -->
            <img src="/img/usflogo.png" width="20%">
            <hr>
            <p style="font-weight: 500;">
                A Uai, Sô! Fly! é uma equipe de competição da
                Universidade Federal de Minas Gerais, fundada em 1999, que participa anualmente
                da SAE Aerodesign Brasil, uma competição universitária com foco no
                desenvolvimento de projetos de engenharia aeronáuticos.
            </p>
            <a href="#equipe" class="btn btn-primary btn-xl page-scroll">Leia mais</a>
        </div>
    </div>
</header>
