<section class="no-padding" id="parcerias" style="background-color: #aa1822;padding-top: 40px;color: white;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Parceiros e Apoiadores</h2>
                <hr class="primary" style="border-color: white;">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.tekbond.com.br/pt-br" class="portfolio-box">
                    <img src="img/portfolio/tekbond.png" height="350px" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                TekBond
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://3dfila.com.br/" class="portfolio-box">
                    <img src="img/portfolio/fila.png" height="350px" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                3D Fila
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.ciser.com.br/" class="portfolio-box">
                    <img src="img/portfolio/ciser.png" height="350px" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                Ciser
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.ufmg.br" class="portfolio-box">
                    <img src="img/portfolio/ufmg-social.jpg" height="350px" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                UFMG
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://eng.ufmg.br" class="portfolio-box">
                    <img src="img/portfolio/ee.jpg" height="350px" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                Escola de Engenharia - EEUFMG
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://www.demec.ufmg.br/cea/" class="portfolio-box">
                    <img src="img/portfolio/cea.png" height="350px" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                CEA - Centro de Estudos Aeronáutios
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
