<section class="bg-primary" id="selecao">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Como Fazer Parte</h2>
                <hr class="light">
                <p class="text-faded">
                    O processo seletivo acontece todo ano no final do segundo semestre letivo. É normalmente composto de inscrição, prova, entrevista, dinâmica e trainee, podendo sofrer alterações de ano a ano. Maiores informações são comunicadas em momento próximo à abertura das inscrições em nossas redes sociais.
                </p>
                <a href="#contato" class="btn btn-default btn-xl">Acompanhe a Equipe!</a>
            </div>
        </div>
    </div>
</section>
