<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include equipe.html %}
  {% include selecao.html %}
  {% include conquistas.html %}
  {% include parcerias.html %}
  {% include competicao.html %}
  {% include contact.html %}
  {% include scripts.html %}
  <div style="position: relative;display: flex;justify-content: center;">
    <a href="https://highlightsoftware.com.br" target="blank">
      <p style="font-size: x-small;font-weight: bold;">
        Desenvolvido por Highlight Software</p></a></div>
</body>

</html>